<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SCAN_COM" value="COM2" />
    <add key="PLC_IP" value="127.0.0.1" />
    <add key="PLC_PORT" value="9004" />
    <add key="PRINTER_IP" value="192.168.1.21" />
    <add key="PRINTER_PORT" value="9100" />
    <add key="HEARTBEAT_TIMESPAN" value="1000" />
    <add key="NO" value="YQ-SCAN01" />
    <add key="NAME" value="元启在线打标系统" />
    <add key="DM_READY" value="110" />
    <add key="DPI" value="300"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
